<div id="homepage">
    <app-menu></app-menu>

    <div class="container">
      <ng-container *ngIf="!loggedIn">
        <div class="home-message">
          <h2><b>The Malendar - Vol 1</b> </h2>
          <h5><em>powered by Welcome</em></h5>
          <h3>Your friends are always complaing that you are forgeting things? <br>
            <b>Not anymore!</b><br>
            Save all your events with THE MALENDAR...!</h3>
        </div>
      </ng-container>

      <ng-container *ngIf="loggedIn">
        <app-calendar></app-calendar>
      </ng-container>
    </div>


    <app-footer> </app-footer>
  </div>
