<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">THE MALENDAR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons">view_headline</i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Calendar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="loginModal()">
            Login
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="registerModal()">
            Register
            </a>
        </li>
      </ul>
    </div>
  </nav>
