@import "../../../../variables.scss";

.calendar-container {
  padding: 20px;
  background: $purple-blue-light-transparent;
  color: $purple-blue;

  h3 {
    text-align: center;
  }

  .mat-form-field {
    width: 100%;
  }

  // remove paddings from columns in smaller screen
  @media all and (max-width: 892px){
    .col-md-5, .col-md-7 {
      padding: 10px 0;
    }
  }

  #calendar-grid {
    .mat-grid-tile {
      background: $purple-blue-light-transparent;
      border-right: 1px solid $purple-blue-light;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 2px;

      /deep/ .mat-figure {
        justify-content: space-around !important;
      }

      .icon-add {
        align-self: flex-end;
        color: $correct;
        font-size: 15px;
      }

      a {
        color: $purple-blue-transparent;
        align-self: flex-end;
        .icon-no-view {
          align-self: flex-end;
        }
      }

      .icon-view {
        align-self: flex-end;
        color: $purple-blue;
      }

      .calendar-link {
        display: flex;
        padding: 0;
        align-self: flex-end;
      }
    }
  }
}

// datatable

.mat-form-field {
  width: 100%;
}

.mat-paginator {
  width: 100%;
}

h3 {
  text-align: center;
  color: $purple-blue;

  .title-date {
    font-weight: 600;
    letter-spacing: 1px;
  }
}

table {
  width: 100%;
}

.icon-delete {
  color: $wine-red;
}

.icon-edit{
  color: $purple-blue;
}


