@import '~bootstrap/dist/css/bootstrap.css';
@import './variables.scss';

* {
  font-family: $font-primary;
}

// Overwrite Material modal container css

.mat-dialog-container {
  background-color: $light-grey-transparent !important;
}

.mat-dialog-content {
  background-color: $light-grey-transparent;
}
