@import '~bootstrap/dist/css/bootstrap.css';
@import './variables.scss';

* {
  font-family: $font-primary;
}

// Overwrite Material modal container css

.mat-dialog-container {
  background-color: $light-grey-transparent !important;
}

.mat-dialog-content {
  background-color: $light-grey-transparent;
}

// Buttons
.btn-submit{
  background-color: $purple-blue-transparent;
  border: 2px solid $light-grey;
  color: $light-grey;
  float: right;
}

.btn-submit:hover{
  opacity: 0.7;
  color: $light-grey;
}

.btn-close{
  background-color: $light-grey;
  border: 1px solid $purple-blue;
  color: $purple-blue-dark;
}

.btn-close:hover{
  opacity: 0.7;
}

// Alerts

// Alert Box colors
.alert-error{
  background: $wine-red-transparent;
  font-weight: 600;
}

.alert-success{
  background: $correct-transparent;
  font-weight: 600;
}
